<!DOCTYPE HTML>
<html>

	<head>
		<title>面值管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- Custom CSS -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<!-- font CSS -->
		<!-- font-awesome icons -->
		<link href="css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<!-- js-->
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<!--animate-->
		<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
		<!--//end-animate-->
		<!-- Metis Menu -->
		<script src="js/metisMenu.min.js"></script>
		<script src="js/custom.js"></script>
		<link href="css/custom.css" rel="stylesheet">
		<!--//Metis Menu -->
	</head>

	<body class="cbp-spmenu-push">
		<div class="main-content" id="main">
			<!--left-fixed -navigation-->
			<div class=" sidebar" role="navigation">
				<div class="navbar-collapse">
					<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
						<ul class="nav" id="side-menu">
							<li>
								<a href="index.html"><i class="fa fa-home nav_icon"></i>主页</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-cogs nav_icon"></i>点卡管理 <span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="cardtype.html">卡种管理</a>
									</li>
									<li>
										<a href="cardpwd.html">卡密管理</a>
									</li>
									<li>
									<a href="cardprice.html">面值管理</a>
								</li>
								</ul>
								<!-- /nav-second-level -->
							</li>
							<li class="">
								<a href="#"><i class="fa fa-book nav_icon"></i>用户管理 <span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="users.html">用户管理</a>
									</li>
									<li>
										<a href="admins.html">管理员管理</a>
									</li>
								</ul>
								<!-- /nav-second-level -->
							</li>
							<li>
								<a href="#"><i class="fa fa-envelope nav_icon"></i>统计报表<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="count.html">报表信息</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#"><i class="fa fa-envelope nav_icon"></i>订单管理<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="orders.html">订单管理</a>
									</li>
								</ul>
								<!-- //nav-second-level -->
							</li>
						</ul>
						<!-- //sidebar-collapse -->
					</nav>
				</div>
			</div>
			<!--left-fixed -navigation-->
			<!-- header-starts -->
			<div class="sticky-header header-section ">
				<div class="header-left">
					<!--toggle button start-->
					<button id="showLeftPush"><i class="fa fa-bars"></i></button>
					<!--toggle button end-->
					<!--logo -->
					<div class="logo">
						<a href="index.html">
							<h1>呖咕呖咕</h1>
							<span>点卡销售系统</span>
						</a>
					</div>
					<!--//logo-->

					<div class="clearfix"> </div>
				</div>
				<div class="header-right">
					<div class="profile_details">		
					<ul>
						<li class="dropdown profile_details_drop">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<div class="profile_img">	
									<div class="user-name">
										<p>{{adminInfo.aname}}</p>
										
									</div>
									<i class="fa fa-angle-down lnr"></i>
									<i class="fa fa-angle-up lnr"></i>
									<div class="clearfix"></div>	
								</div>	
							</a>
							<ul class="dropdown-menu drp-mnu">
								<li @click="logout()"> <a href="#" id="logout"><i class="fa fa-sign-out"></i>退出</a> </li>
							</ul>
						</li>
					</ul>
				</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //header-ends -->
			<!-- main content start-->
			<div id="page-wrapper">
				<div class="main-page" id="tablepage">
					<div class="row">
						<div class="col-md-7">
							<h3 class="title1">面值管理</h3>
						</div>
						<div class="col-md-2">
							<input style="height: 35px;margin-top: 5px;" class="sb-search-input input__field--madoka" placeholder="请输入面值" type="search" v-model="params.mName"/>
						</div>
						<div class="col-md-1">
							<h3 style="padding-top: 5px;"><a href="#"><span class="label label-primary" @click="selectMianzhi()">查询</span></a></h3>
						</div>
						<div class="col-md-1">
							<h3 id="addbtn" style="padding-top: 5px;"><a href="#" data-toggle="modal" data-target="#mianzhi-addmodal"><span class="label label-primary">添加</span></a></h3>
						</div>
					</div>
					<div class="bs-example widget-shadow" data-example-id="contextual-table">
						<table class="table">
							<thead>
								<tr>
									<th>点卡面值</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(data,index) in dataList">
									<td>{{data.mname}}</td>
									<td>
										<a href="" data-toggle="modal" data-target="#mianzhi-updatemodal" @click="updateMianzhi(data)">修改</a>&nbsp;&nbsp;
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-md-4">

						</div>
						<div class="col-md-5">
							<ul id="page"></ul>

						</div>
						<div class="col-md-3">

						</div>
					</div>
				</div>
				<!--面值添加modal-->
				<div class="modal fade" id="mianzhi-addmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
							</div>
							<div class="modal-body">
								<form class="form-horizontal">
									<div class="form-group">
										<label  class="col-sm-2 control-label">面值名称</label>
										<div class="col-sm-8">
											<input  type="text" class="form-control1"  placeholder="请输入面值名称..." v-model="add.mname">
										</div>
									</div>
								</form>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" @click="addMianzhi">添加</button>
							</div>
						</div>
					</div>
				</div>
				<!--面值添加modal-->
				<div class="modal fade" id="mianzhi-updatemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
							</div>
							<div class="modal-body">
								<form class="form-horizontal">
									<div class="form-group">
										<label  class="col-sm-2 control-label">面值名称</label>
										<div class="col-sm-8">
											<input  type="text" class="form-control1"  v-model="update.mname">
										</div>
									</div>
								</form>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" @click="saveUpdate()">提交更改</button>
							</div>
						</div>
					</div>
				</div>
				<!--footer-->
				<div class="footer">
				<p>Copyright &copy; 2020.Company name All rights reserved.呖咕呖咕
				</p>
				</div>
				<!--//footer-->
			</div>
		</div>
			<!-- Classie -->
			<script src="js/classie.js"></script>
			<script>
				var menuLeft = document.getElementById('cbp-spmenu-s1'),
					showLeftPush = document.getElementById('showLeftPush'),
					body = document.body;

				showLeftPush.onclick = function() {
					classie.toggle(this, 'active');
					classie.toggle(body, 'cbp-spmenu-push-toright');
					classie.toggle(menuLeft, 'cbp-spmenu-open');
					disableOther('showLeftPush');
				};

				function disableOther(button) {
					if(button !== 'showLeftPush') {
						classie.toggle(showLeftPush, 'disabled');
					}
				}
			</script>
			<!--scrolling js-->
			<script src="js/jquery.nicescroll.js"></script>
			<script src="js/scripts.js"></script>
			<!--//scrolling js-->
			<!-- Bootstrap Core JavaScript -->
			<script src="js/bootstrap.js"></script>
			<!--引入vue.js-->
			<script src="js/vue.min.js"></script>
			<!--引入分页插件js-->
			<script src="js/bootstrap-paginator.js"></script>
			<script>
				var vm = new Vue({
					el:"#main", //包含整个页面 div 的 id名称
					data:{
						adminInfo:{},
						//查询用户信息所需的参数
						params:{
							mName:'',
							pageSize:10,
							currentPage:1, //当前页
							pages:1
						},
						//修改所需参数
						update:{
							mid:null,
							mname:''
						},
						//添加所需参数
						add:{
							mname:""
						},
						dataList:[],//用户保存请求到的数据（是一个list）
					},
					//页面初始化加载的方法
					mounted:function () {
						this.adminInfo = JSON.parse(window.sessionStorage.getItem("admin"));
						console.log(this.adminInfo)
						if (this.adminInfo == null) {
							alert("请先登陆!");
							window.location.href = "login.html";
						}
						//初始化分页模板
						var options = {
							bootstrapMajorVersion: 3,
							currentPage: this.params.currentPage, // 当前页数
							numberOfPages: 5, // 显示按钮的数量
							totalPages: this.params.pages, // 总页数
							onPageClicked:function(event, originalEvent, type,page){
								vm.params.currentPage=page;
								vm.selectMianzhi();
							},
							onPageChanged:function(event, oldPage, newPage){
								vm.params.currentPage=newPage;
								vm.selectMianzhi();
							}
						};
						$("#page").bootstrapPaginator(options);

						this.selectMianzhi();
					},
					//页面单击事件
					methods:{
						//查询用户信息
						selectMianzhi:function () {
							var url = "http://localhost:8000/mianzhi/selectMianzhi";
							$.get(url,this.params,function (data) {
								if (data.code === 0){
									//console.log(data); //打印结果到控制台
									vm.dataList = data.dataList; //结果
									vm.params.pages = data.pages;//总页数
									vm.params.currentPage = data.pageNum //第几页
									//设置分页(当前页,总页数)
									$("#page").bootstrapPaginator('setOptions',{currentPage:vm.params.currentPage,totalPages:vm.params.pages});
								}else {
									alert(data.msg);
								}
							});
						},

						// //删除
						// deleteMianzhi:function (mId) {
						// 	var flag = confirm("确定删除这条数据吗?");
						// 	if (flag){
						// 		var url = "http://localhost:8000/mianzhi/deleteMianzhi";
						// 		var args = {
						// 			"mId":mId
						// 		}
						// 		$.post(url,args,function (data) {
						// 			if (data.code === 0){
						// 				alert(data.msg);
						// 				//删除成功后重新查一遍
						// 				vm.selectMianzhi();
						// 			}else {
						// 				alert(data.msg);
						// 			}
						// 		});
						// 	}
						// },
						//修改
						updateMianzhi:function (data) {
							console.log(data);
							vm.update.mid = data.mid;
							vm.update.mname = data.mname;
						},

						saveUpdate:function(){
							$.ajax({
								type: "POST",
								url:"http://localhost:8000/mianzhi/updateMianzhi",
								dataType:"json",
								contentType: "application/json",
								data:JSON.stringify(vm.update),
								success:function (data) {
									if (data.code === 0){
										alert(data.msg);
										$("#mianzhi-updatemodal").modal('hide');//关闭模特框
										vm.selectMianzhi();
									}else {
										alert(data.msg);
									}
								}
							});
						},
						//添加
						addMianzhi:function () {
							$.ajax({
								type: "POST",
								url:"http://localhost:8000/mianzhi/addMianzhi",
								dataType:"json",
								contentType: "application/json",
								data:JSON.stringify(vm.add),
								success:function (data) {
									if (data.code === 0){
										alert(data.msg);
										$("#mianzhi-addmodal").modal('hide');//关闭模特框
										vm.selectMianzhi();
									}else {
										alert(data.msg);
									}
								}
							});
						},
						logout:function () {
							var flag = confirm("您确定要退出登录吗？")
							if(flag){
								sessionStorage.clear()
								window.location.href = "login.html";
							}
						}
					}
				});
			</script>

	</body>

</html>